In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime
data = pd.read_csv('train_data.csv')
import numpy as np

In [ ]:
print(data.head())
data.describe()

        Date  Petrol (USD)
0   6/9/2003         74.59
1  6/16/2003         74.47
2  6/23/2003         74.42
3  6/30/2003         74.35
4   7/7/2003         74.28

       Petrol (USD)
count    811.000000
mean     110.330481
std       19.241182
min       74.210000
25%       94.525000
50%      112.420000
75%      128.560000
max      189.510000

In [ ]:
data.keys()

Index(['Date', 'Petrol (USD)'], dtype='object')

In [68]:
X=pd.to_datetime(data['Date'])

import datetime as dt

X = pd.to_datetime(X)
x=X.dt.date
X = X.dt.strftime('%Y%m%d')
X = X.to_numpy().reshape(-1,1)
#print(X)
i = str(x[0])

2003
06
09

In [42]:
y = data['Petrol (USD)']

print(y.dropna())
y.fillna(0,inplace=True)

np.any(np.isnan(y))
y

0       74.59
1       74.47
2       74.42
3       74.35
4       74.28
        ...
808    124.30
809    122.37
810    121.02
811    120.61
812    120.18
Name: Petrol (USD), Length: 813, dtype: float64

0       74.59
1       74.47
2       74.42
3       74.35
4       74.28
        ...
808    124.30
809    122.37
810    121.02
811    120.61
812    120.18
Name: Petrol (USD), Length: 813, dtype: float64

In [69]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression()

model=lr.fit(X,y)

In [72]:
import pickle

pickle.dump(model, open('model3.pkl','wb'))